doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/skin.css')
    link(rel='stylesheet' href='/test.css')


    title Beauty Consultant
  body
    .container

      form(method="post" action= action)
        if error
          .alert.alert-danger(role='alert')
            | #{mess}
            a.alert-link(href='/result' style="margin-left: 10px") 
              | bỏ qua
        each ques in questions
          .card
            h2
              | #{ques.question}
            case ques.type
              when 'select'
                select.card-select(aria-label= ques.question name= ques.answer.name)
                  option() Bỏ qua
                  each ans in ques.answer.ans 
                    option(value= ans.value) #{ans.name}
              when 'radio'
                -var index = 1
                each ans in ques.answer.ans 
                  div
                    .box 
                      input(id= ques.answer.name+index type="radio" name= ques.answer.name value= ans.value)
                      span.check
                      label(for=ques.answer.name+index++)
                        | #{ans.name}
        button.submit-btn(value='submit') Submit

